<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Practicing since 1999, Advocate R. S. Tripathi has an experience of more than 25 years in family
           legal issues in Mumbai/Thane/Panvel. </p>
        <p>He has deep passion for helping people and working on cases with personal interest. This trait not
           only helped him win cases but also give confidence to clients which is difficult to find. </p>
      </div>
      <div class="col-lg-4">
        <p>Expertise on following matters: </p>
        <h5>
          <ul>
            <li>Divorce</li>
            <li>Domestic Violence</li>
            <li>Maintenance</li>
            <li>Marriage</li>
            <li>Apostille</li>
          </ul>
        </h5>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <br>
        <p>If I do not respond on time, please wait as I will be in some important work. 
          Once I am available, I will definitely respond back.</p>
      </div>
    </div>
  </div>
</section>
